.newPostBtn {
    text-decoration: none;
    color: black;
    padding: 12px 14px;
    background-color: grey;
    display: inline-block;
}

/* 포스팅 임시 스타일링 지워도됨 */
.postList {
    display: flex;
    flex-wrap: wrap;
}

.post {
    margin: 10px;
    width: 240px;
    overflow: hidden;
    cursor: pointer;
}

.postImage {
    width: 240px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
}

.postTitle {
    font-size: 15px;
    font-weight: 400;
}

.postPrice {
    font-size: 18px;
    font-weight: 550;
}

.postTexts {
    margin-left: 2px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}